html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

nav {
  padding-left: 30px;
  padding-right: 30px;
}

#navbar.transparent {
  background-color: transparent !important;
}

#navbar.scroll {
  background-color: white !important;
  color: #eef;
}

hr {
  border: 0.2px solid lightgray;
}

#home {
  padding-top: 5%;
  height: 100vh;
  transition-timing-function: ease-in;
}

#get-started {
  padding: 20px;
}

#kriteria {
  margin-top: -13%;
  padding-top: 9%;
}

#alternatif {
  padding-top: 4%;
}

#perhitungan {
  padding-top: 4%;
}

img {
  width: 100%;
  border-radius: 10px;
}

#circle {
  background: #c1eadb;
  border-radius: 50%;
  width: 550px;
  height: 550px;
  top: -85px;
  right: 40px;
  position: absolute;
  z-index: -1;
}

#circle-small {
  background: #a1d9c6;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  left: -50px;
  bottom: -50px;
  position: absolute;
  z-index: -1;
}

#circle-small-kriteria {
  background: #e8f0f8;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  right: 0;
  bottom: -85%;
  position: absolute;
  z-index: -1;
}
#circle-small-kriteria1 {
  background: #a1d9c6;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  right: 20px;
  bottom: -65%;
  position: absolute;
  z-index: -1;
}

#circle-small-alternatif {
  background: #e8f0f8;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  left: -40px;
  bottom: -110%;
  position: absolute;
  z-index: -1;
}
#circle-small-alternatif1 {
  background: #b0d1c5;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  right: 28px;
  bottom: -177%;
  position: absolute;
  z-index: -1;
}
#circle-small-alternatif2 {
  background: #f5f5f5;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  right: 40px;
  bottom: -200%;
  position: absolute;
  z-index: -1;
}

#circle-small-perhitungan {
  background: #f5f5f5;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  left: -110px;
  bottom: -260%;
  position: absolute;
  z-index: -1;
}
#circle-small-perhitungan1 {
  background: #a1d9c6;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  left: 20px;
  bottom: -235%;
  position: absolute;
  z-index: -1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
